Source: golang-github-danos-op
Section: admin
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends:
 debhelper (>= 9),
 dh-golang (>= 1.18),
 dh-systemd,
 dh-yang,
 golang (>=2:1.4),
 golang-github-danos-config-dev,
 golang-github-danos-mgmterror-dev,
 golang-github-danos-utils-patherr-dev,
 golang-github-danos-utils-pathutil-dev,
 golang-github-danos-yang-dev
Standards-Version: 3.9.8

Package: golang-github-danos-op-dev
Architecture: any
Priority: extra
Description: Development libraries for packages in the golang-github-danos-op package
 They can be used to work with the libraries outside of opd itself.
Depends:
 golang (>=2:1.1.2),
 golang-github-danos-config-dev,
 golang-github-danos-mgmterror-dev,
 golang-github-danos-utils-patherr-dev,
 golang-github-danos-utils-pathutil-dev,
 golang-github-danos-yang-dev,
 ${misc:Depends}

